{% extends 'web/base.html' %}

{% block meta %}
    <meta name="keywords" content="个人博客,个人博客,个人博客模板" />
    <meta name="description" content="个人博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block css %}
    <link href="/static/web/css/base.css" rel="stylesheet">
    <link href="/static/web/css/index.css" rel="stylesheet">
    <link href="/static/web/css/m.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="/static/web/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/web/js/comm.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/web/js/modernizr.js"></script>
<![endif]-->
{% endblock %}
