{% extends 'web/index_main.html' %}

{% block main %}

  <main class="r_box">
      {% for article in page %}
          <li><i><a href=""><img src="/media/{{ article.icon }}"></a></i>
              <h3><a href="{% url 'web:info' article.id %}">{{ article.title }}</a></h3>
              <p>{{ article.desc }}</p>
          </li>
      {% endfor %}
    </main>
 <div class="pagelist">
     <a class="allpage"><b>{{ page.paginator.num_pages }}</b></a>

 {% if page.has_previous %}
 <a href="{% url 'web:list' %}?page={{ page.previous_page_number }}">上一页</a>
 {% else %}
 <a href="#" onclick="page(2)">上一页</a>
 {% endif %}

     {% for i in page.paginator.page_range %}
        <a href="{% url 'web:list' %}?page={{ i }}">{{ i }}</a>&nbsp;&nbsp;
     {% endfor %}

  {% if page.has_next %}
 <a href="{% url 'web:list' %}?page={{ page.next_page_number }}">下一页</a>
 {% else %}
 <a href="#" onclick="page(2)">下一页</a>
 {% endif %}


 </div>



{% endblock %}