{% extends 'backweb/base_main.html' %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-header">添加</h1>
          <form>
              {% csrf_token %}
            <div class="form-group">
              <label for="category-name">栏目名称</label>
              <input type="text" id="cname" name="c_name" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
              <span class="prompt-text">这将是它在站点上显示的名字。</span>
            </div>
              <button class="btn btn-primary" type="button" onclick="add_column()">添加新栏目</button>
          </form>

        </div>
        <div class="col-md-7">
          <h1 class="page-header">管理 <span class="badge"></span></h1>
          <div class="table-responsive">
            <table id="column" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span></th>
                  <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">名称</span></th>
{#                  <th><span class="glyphicon glyphicon-list-alt"></span> <span class="visible-lg">别名</span></th>#}
{#                  <th><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">总数</span></th>#}
                  <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                </tr>
              </thead>
              <tbody>
{#                <tr>#}
{#                  <td>1</td>#}
{#                  <td>前端技术</td>#}
{#                  <td><a href="update-category.html">修改</a> <a rel="1">删除</a></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2</td>#}
{#                  <td>后端程序</td>#}
{#                  <td><a href="update-category.html">修改</a> <a rel="2">删除</a></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3</td>#}
{#                  <td>管理系统</td>#}
{#                  <td><a href="update-category.html">修改</a> <a rel="3">删除</a></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>4</td>#}
{#                  <td>授人以渔</td>#}
{#                  <td><a href="update-category.html">修改</a> <a rel="4">删除</a></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>5</td>#}
{#                  <td>程序人生</td>#}
{#                  <td><a href="update-category.html">修改</a> <a rel="5">删除</a></td>#}
{#                </tr>#}
              </tbody>
            </table>
            <span class="prompt-text"><strong>注：</strong>删除一个栏目也会删除栏目下的文章和子栏目,请谨慎删除!</span> </div>
        </div>
      </div>
    </div>

<script>

    function update(id) {
        var name = prompt('输入修改后的新栏目的名字')
            if(name != null && name != ''){
                {#alert(name, id)#}
                $.ajax({
                    url: '/api/backweb/column/' + id + '/',
                    type: 'patch',
                    dataType: 'text',
                    data: {
                        'c_name': name
                    },
                    success: function (data) {
                        window.location.reload()
                    },
                    error: function (data) {
                        alert('失败')
                    }
                })
        }

    }

    function del(id){
        {#alert(id)#}
        if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "delete",
					url: "/api/backweb/column/" + id + "/",
					{#data: "id=" + id,#}
					{#cache: false, //不缓存此页面#}
                    dataType: 'JSON',
					success: function (data) {
						window.location.reload();
					},
                    error: function (data) {
                        alert('失败')
                    }
				});
			};
    }

    $(function(){
        $.ajax({
            url: '/api/backweb/column/',
            type: 'get',
            dataType: 'JSON',
            success: function (data) {
                {#alert('成功')#}
                $('#column tbody').empty();
                $.each(data, function (index, cname) {
                    fun = 'del(' + cname['id'] + ')',
                    upcname = 'update(' + cname['id'] + ')',
                    $('#column tbody').append(
                        $('<tr>').append(
                            $('<td>').text(cname['id']),
                            $('<td>').text(cname['c_name']),
                            $('<td>').append(
                                $('<a>').attr('onclick', upcname).text('修改'),
                                '&emsp;',
                                $('<a>').attr('onclick', fun).text('删除')
                            )
                        )
                    )
                });
            },
            error: function (data) {
                alert('失败')
            }
        })
    });

    function add_column() {
         var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        newname = $('#cname').val()

        $.ajax({
            url: '/api/backweb/column/',
            type: 'post',
            headers: {'X-CSRFToken': csrf},
            dataType: 'text',
            data: {
              'c_name': newname
            },
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                alert('失败')
            }
        })
    }



</script>


{% endblock %}